* {
    margin: 0; padding: 0;
}

h1 {
	font-size: 54px;
	color: white;
	font-family: "Loka";
}

/*#container {
    overflow: hidden;
    height: 400px;
    position: relative;
}*/

/* Video */

video {
    position: absolute;
                  
    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
}
